/* Test - check if css is linked up with index.hmtl */

/**
 * ----------------------------------------
 * Default style for mobile 
 * ----------------------------------------
 */

.main-game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-game-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

body {
    background-color: #002AD8;
    font-family: 'Anton', sans-serif;
}

h1 {
    text-align: center;
}

.jeopardy-game-container {}

.playgame-button {
    width: 90%;
    padding: 2%;
    font-family: 'Anton', sans-serif;
    font-size: medium;
    box-shadow: 3px 4px 0px 0px #1564ad;
    background: linear-gradient(to bottom, #79bbff 5%, #317ffe 100%);
    background-color: #79bbff;
    border-radius: 5px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    padding: 11px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}


/* game score */

.game-information-container {
    background-color: #FEEB3B;
    border: solid 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;

    /* height: 15vh; */
    height: 20%;

}

.player-information {
    width: 47%;
    background-color: #fffce2;
    border: solid 5px;
    border-color: black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    /* padding: 8%; */
    border-radius: 7%;
}

.player-avatar {
    padding: 3%;
    width: 40%;
    height: 85%;
}


.game-round-container {
    background-color: #EC9FF9;
    border: solid 3px;
    text-align: center;
    /* height: 15vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;

}

.game-status-container {
    background-color: #9ff9ba;
    border: solid 3px;
    text-align: center;
    margin-bottom: 1%;
    /* height: 14vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.jeopardy-board {
    width: 97%;
    background-color: #3081FE;
    border: solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    height: 100%;
}

.jeopardy-questions-board {

    width: 98%;
    height: 80%;
    background-color: #3081FE;
    border: solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* font-size: 2em; */
}

.catagory-container {
    background-color: #3081FE;
    width: 100%;
    border: solid 3px;
    text-align: center;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catagory-name {

    height: 20%;
    background-color: #ffffff;
    border: solid 3px;
    border-color: black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    padding: 8%;
}

.catagory-score-value-button {
    margin: auto;
    font-family: 'Anton', sans-serif;
    background-color: #3081FE;
    border: solid 3px;
    border-color: black;
    color: white;
    font-size: x-large;
    width: 90%;
}

.catagory-list-of-scores-conatiner {
    height: 70%;
    background-color: #3081FE;
    border-color: black;
    border: solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.final-round-question-button {
    width: 90%;
    padding: 2%;
    font-family: 'Anton', sans-serif;
    font-size: medium;
    box-shadow: 3px 4px 0px 0px #1564ad;
    background: linear-gradient(to bottom, #79bbff 5%, #317ffe 100%);
    background-color: #79bbff;
    border-radius: 5px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    margin: auto;
    font-weight: bold;
    padding: 11px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

.modal-container {
    background-color: #3081FE;
    height: 90%;
    border: solid 1px;
    border-radius: 5%;
    margin: auto;
    width: 90%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-modal-container {
    background-color: #3081FE;
    font-size: unset;
    height: 55%;
    border: solid 1px;
    border-radius: 5%;
    /* margin-top: 2%; */
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question-heading-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.question-container {
    background-color: white;
    padding: 1%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: left;
}

.list-of-questions-answers-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    margin-top: 1%;
}



.answer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.answer-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 10%;
    font-size: 2em;
    border: solid 1px;
    border-right: 0px;
}

.answer-button {
    width: 90%;
    padding: 2%;
    font-family: 'Anton', sans-serif;
    font-size: medium;
    box-shadow: 3px 4px 0px 0px #1564ad;
    background-color: #79bbff;
    border-radius: 5px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    padding: 11px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

.answer-prompt-container {
    display: flex;
    align-content: center;
    padding: 2%;
    justify-content: center;
    font-size: x-large;
}

.back-to-jeopardy-board-button {
    width: 90%;
    padding: 2%;
    font-family: 'Anton', sans-serif;
    font-size: medium;
    box-shadow: 3px 4px 0px 0px #1564ad;
    background: linear-gradient(to bottom, #79bbff 5%, #317ffe 100%);
    background-color: #79bbff;
    border-radius: 5px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    margin: auto;
    font-weight: bold;
    padding: 11px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}


.question-answer-button {
    width: 90%;
    padding: 2%;
    font-family: 'Anton', sans-serif;
    border: solid 1px;
    border-left: 0px;
}

.end-screen-container {
    background-color: #3081FE;
    height: 800px;
    border: solid 1px;
    border-radius: 5%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

@media (min-width: 600px) {
    body {
        background-color: #002AD8;
        font-family: 'Anton', sans-serif;
    }

    .modal-container {
        background-color: #3081FE;
        height: 90%;
        border: solid 1px;
        border-radius: 5%;
        margin: auto;
        width: 90%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .jeopardy-game-container {
        height: 95vh;
    }

    .playgame-button {
        width: 90%;
        padding: 2%;
        font-family: 'Anton', sans-serif;
        font-size: medium;
        box-shadow: 3px 4px 0px 0px #1564ad;
        background: linear-gradient(to bottom, #79bbff 5%, #317ffe 100%);
        background-color: #79bbff;
        border-radius: 5px;
        border: 1px solid #337bc4;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-weight: bold;
        padding: 11px 44px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #528ecc;
    }


    /* game score */

    .game-information-container {
        background-color: #FEEB3B;
        border: solid 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2%;
        /* height: 15vh; */
        height: 20%;
    }

    .player-information {
        width: 47%;
        background-color: #fffce2;
        border: solid 5px;
        border-color: black;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        /* padding: 8%; */
        border-radius: 7%;
    }

    .player-avatar {
        padding: 3%;
        width: 40%;
        height: 85%;
    }


    .game-round-container {
        background-color: #EC9FF9;
        border: solid 3px;
        text-align: center;
        /* height: 15vh; */
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: center;

    }

    .game-status-container {
        background-color: #9ff9ba;
        border: solid 3px;
        text-align: center;
        margin-bottom: 1%;
        /* height: 14vh; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .jeopardy-board {
        width: 97%;
        background-color: #3081FE;
        border: solid 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1%;
        height: 100%;

    }

    .jeopardy-questions-board {

        width: 98%;
        height: 80%;
        background-color: #3081FE;
        border: solid 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* font-size: 2em; */
    }

    .catagory-container {
        background-color: #3081FE;
        width: 20%;
        border: solid 3px;
        text-align: center;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .catagory-name {

        height: 20%;
        background-color: #ffffff;
        border: solid 3px;
        border-color: black;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        padding: 8%;
    }

    .catagory-score-value-button {
        margin: auto;
        font-family: 'Anton', sans-serif;
        background-color: #3081FE;
        border: solid 3px;
        border-color: black;
        color: white;
        font-size: x-large;
        width: 90%;
    }

    .catagory-list-of-scores-conatiner {
        height: 70%;
        background-color: #3081FE;
        border-color: black;
        border: solid 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .final-round-question-button {
        width: 90%;
        padding: 2%;
        font-family: 'Anton', sans-serif;
        font-size: medium;
        box-shadow: 3px 4px 0px 0px #1564ad;
        background: linear-gradient(to bottom, #79bbff 5%, #317ffe 100%);
        background-color: #79bbff;
        border-radius: 5px;
        border: 1px solid #337bc4;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        margin: auto;
        font-weight: bold;
        padding: 11px 44px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #528ecc;
    }

    .modal-container {
        background-color: #3081FE;
        height: 90%;
        border: solid 1px;
        border-radius: 5%;
        margin: auto;
        width: 90%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .question-modal-container {
        background-color: #3081FE;
        font-size: unset;
        height: 55%;
        border: solid 1px;
        border-radius: 5%;
        /* margin-top: 2%; */
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .question-heading-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .question-container {
        background-color: white;
        padding: 1%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        text-align: left;
    }

    .list-of-questions-answers-container {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        margin-top: 1%;
    }

    .answer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
    }

    .answer-number {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 10%;
        font-size: 2em;
        border: solid 1px;
        border-right: 0px;
    }

    .answer-button {
        width: 90%;
        padding: 2%;
        font-family: 'Anton', sans-serif;
        font-size: medium;
        box-shadow: 3px 4px 0px 0px #1564ad;
        background-color: #79bbff;
        border-radius: 5px;
        border: 1px solid #337bc4;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-weight: bold;
        padding: 11px 44px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #528ecc;
    }

    .answer-prompt-container {
        display: flex;
        align-content: center;
        padding: 2%;
        justify-content: center;
        font-size: x-large;
    }

    .back-to-jeopardy-board-button {
        width: 90%;
        padding: 2%;
        font-family: 'Anton', sans-serif;
        font-size: medium;
        box-shadow: 3px 4px 0px 0px #1564ad;
        background: linear-gradient(to bottom, #79bbff 5%, #317ffe 100%);
        background-color: #79bbff;
        border-radius: 5px;
        border: 1px solid #337bc4;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        margin: auto;
        font-weight: bold;
        padding: 11px 44px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #528ecc;
    }

    .question-answer-button {

        width: 90%;
        padding: 2%;
        font-family: 'Anton', sans-serif;
        border: solid 1px;
        border-left: 0px;
    }

    .end-screen-container {
        background-color: #3081FE;
        height: 800px;
        border: solid 1px;
        border-radius: 5%;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: xx-large;
    }
}
